<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactos</title>
  </head>
  <body class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <u align="center"
            ><H1 id="titulo"><strong>Contact Us </strong> </H1></u
          >
        </div>
        <content class="col-md-6 pt-5">
          <div class="acepta">
            <section id="lisa">
              <h3><strong> ATENCIÓN AMBULATORIA</strong></h3>
              <ul>
                <u><li>POLICONSULTORIOS</li></u>
                <ul>
                  <li>
                    Capital Federal
                    <ol>
                      <li>Osecac Lacroze</li>
                      <li>
                        Anexo congreso
                        <ul>
                          <li>Uruguay</li>
                          <li>Hipolito Yrigoyen</li>
                        </ul>
                      </li>

                      <li>Osecac congreso</li>
                      <li>Osecac flores</li>
                      <li>Osecac Medrano</li>
                      <li>
                        Osecac Once
                        <ul>
                          <li>Larrea</li>
                          <li>Bacaray</li>
                        </ul>
                      </li>

                      <li>Clinica Nstra. Sra. de Fatima</li>
                    </ol>
                  </li>

                  <li>
                    Zona Oeste
                    <ol>
                      <li>Osecac Pilar</li>
                      <li>
                        Osecac Caseros
                        <ul>
                          <li>
                            Mariano Moreno
                            <ul>
                              <li>Monte grande</li>
                            </ul>
                          </li>
                        </ul>
                      </li>

                      <li>Osecac Morón</li>
                      <li>Osecac Laferrere</li>
                      <li>Osecac Flores</li>
                    </ol>
                  </li>
                </ul>
              </ul>
            </section>
          </div>
        </content>
        <aside class="col-md-6 pt-5">
          <div class="col-md-12">
            <form
              method="get"
              action="../home/home.component.html"
              target="_top"
            >
              <button type="submit" id="degrade">
                <span class="icon-home">-</span>
                <b>Volver al inicio</b><br />
              </button>
            </form>
          </div>
          <br />
          <br />
          <br /><br /><br />
          <div class="contact card col-md-12" align="center">
            <p>
              <span class="icon-instagram"> Spot_Light</span>
            </p>
            <p>
              <span class="icon-facebook"> Spot Light-Obra Social</span>
            </p>

            <p>
              <span class="icon-mail"> explosive77roses@gmail.com</span>
            </p>

            <p>
              <span class="icon-twitter"> @Explosive77Rose</span>
            </p>

            <p>
              <span class="icon-whatsapp"> 0388 422-6018</span>
            </p>
          </div>
        </aside>
      </div>
    </div>
    <br />
    <br /><br /><br /><br /><br /><br /><br />
  </body>
</html>
